<!DOCTYPE html>
<html>
<head>
  <% include templates/head.ejs %>
</head>
<body>
  <% include templates/nav.ejs %>
  <div class="body-contain">
    <div class="columns">
      <div class="column is-one-third">
        <img class="profile-img" src=<%= user.profile_pic %>>
      </div>
      <div class="column">
        <h1><%= user.name %></h1>
        <p>Email: <%= user.email %></p>
        <p>Date Joined: <%= user.email %></p>
        <h1>REVIEWS</h1>
        <% reviews.forEach(function(review) { %>
          <div class="album-list-single">
            <h3><%= review.review_date %></h3>
            <p><%= review.review %></p>

          </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>
</html>
